@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --color0: #c5ebd6;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;

    --defaultfont: Arial, Verdana, Helvetica, sans-serif;
    --emphasisfont: 'Bebas Neue', Arial, Verdana, Helvetica, sans-serif;
    --androidfont: 'android', Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color0);
    font-family: var(--defaultfont);
}

header {
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    color: white;
    text-align: center;
    padding: 40px 20px 0px 20px;
    box-shadow: 0px 0px 10px black;
}

header h1 {
    font: 3em var(--emphasisfont);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.5);
}

header p {
    font-size: 1.2em;
    margin-bottom: 40px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.5);
}

nav {
    margin: 0px -20px;
    text-align: left;
    padding: 0px 10px 10px 10px;
}

nav a {
    font-weight: bold;
    color: var(--color2);
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.2s;
    border-radius: 5px;
    border-color: var(--color2);
}

nav a:hover {
    background-color: var(--color2);
    color: var(--color5);
    border-style: solid;
}

nav a:active {
    color: white;
    text-decoration: underline;
}

main {
    min-width: 260px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--color5);
    font: 1.8em var(--androidfont);
}

main h2 {
    color: var(--color4);
    font: 1.3em var(--androidfont);
    background-image: linear-gradient(to right, var(--color1), transparent)
}

main p {
    margin: 16px 0px;
    line-height: 2em;
    text-indent: 30px;
    text-align: justify;
}

main strong {
    color: var(--color4);
    font-weight: bolder;
}

main a {
    color: var(--color5);
    background-color: var(--color2);
    padding: 0px 2px;
    text-decoration: none;
    font-weight: bolder;
}

main a:hover {
    color:var(--color4);
    text-decoration: underline;
}

main a:active {
    color: white;
}

main a::after {
    content: '\00A0\1F517'
}

main img {
    width: 100%;
}

#bugdroidimage {
    display: block;
    margin: auto;
    width: 300px;
}

.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    background-color: var(--color5);
}

.video2 {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
}

.video2>iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

aside {
    background-color: var(--color1);
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

aside h3 {
    margin: 0px -10px;
    background-color: var(--color4);
    padding: 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    column-count: 2;
}

footer {
    background-color: var(--color5);
    color: white;
    text-align: center;
    padding: 2px 0px;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
}